<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check Fines</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Conferir Débitos</h1>
    <div>
        <form action="#" th:action="@{/library/check-fines}" method="post">
            <label for="memberId">ID do aluno:</label>
            <input type="number" id="memberId" name="memberId"/><br>
            <input type="submit" value="Conferir"/>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>
