<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Biblioteca - Trabalho Final</h1>
    <div>
        <a href="/library/books">Ver Livros</a><br>
        <a href="/library/members">Ver Estudantes</a><br>
        <a href="/library/authors">Ver Autores</a><br>
        <a href="/library/publishers">Ver Editoras</a><br>
        <a href="/library/add-book">Adicionar Livro</a><br>
        <a href="/library/add-member">Adicionar Estudante</a><br>
        <a href="/library/add-author">Adicionar Autor</a><br>
        <a href="/library/add-publisher">Adicionar Editora</a><br>
        <a href="/library/issue-book">Empréstimo</a><br>
        <a href="/library/return-book">Devolução</a><br>
        <a href="/library/check-fines">Conferir Débitos</a><br>
        <a href="/library/track-issued-books">Conferir Empréstimos</a><br>
    </div>
</body>
</html>
