body {
    background-color: #010101;
    padding: 1.5rem;
    font-family: Arial, sans-serif;
}

h1 {
    color: #e5e7eb;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

a {
    font-size: large;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color:rgb(174, 40, 208);
}

table {
    width: 100%;
    background-color: #ffffff;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
}

th {
    background-color: #f9fafb;
}

div {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;

}

table {
    margin-top: 1rem;
    background-color: gray;
    color: black;
}

form {
    padding: 1rem;
    background-color: gray;
    border-radius: 5px;
}

label {
    color: #e5e7eb;
    font-size: 1.2rem;
}

input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
}


